<div *ngIf="(isAuthenticated | async) && isUserValid === true && isProfileSetup === true;">
  <div class="loading-indicator" *ngIf="loading else loaded">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div *ngIf="payNow === false;">
    <p-toast key="validation" position="top-right"></p-toast>
    <input type="file" (change)="onFileChanged($event)">
    <br>
    <p-table #GMT class="tables" id="GMTTable" [columns]="GMTHeaders" [value]="GMTData" [(selection)]="selectedGMT"
      [rows]="10" [rowsPerPageOptions]="[10,25,50]" [paginator]="true" editMode="row" [reorderableColumns]="true"
      dataKey="imageID">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let cols of GMTHeaders" style="text-transform: capitalize;" [pSortableColumn]="cols"
            pReorderableColumn pResizableColumn>
            {{cols}}
            <p-sortIcon [field]="cols"></p-sortIcon>
          </th>
          <th style="width:8em"></th>
        </tr>
        <tr>
          <th id="search" *ngFor="let cols of GMTHeaders" [ngSwitch]="cols">
            <input placeholder="Filter...." type="text" pInputText [style]="{'width':'100%'}"
              (input)="GMT.filter($event.target.value, cols, 'contains', cols.filterMatchMode)"
              [value]="GMT.filters[cols] ? GMT.filters[cols].value : ''">
          </th>
          <th style="width:8em"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-GMTData let-columns="GMTHeaders" let-ri="rowIndex">
        <tr [pEditableRow]="GMTData">
          <td *ngFor="let cols of GMTHeaders" style="height: 10px; max-height: 10px; overflow:hidden">
            <div *ngIf="cols == 'Image' ">
              <div style="margin: 0 auto; width: 130px">
                <img src={{URLS[GMTData.Length]}} alt="me" style="width: 130px" />
              </div>
            </div>
            <div *ngIf="cols != 'Image'">
              {{GMTData[cols]}}
            </div>
          </td>
          <td style="text-align:center">
            <button pButton type="button" icon="pi pi-times" class="ui-button-danger"
              (click)="onRowEditCancel(GMTData, ri)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-4">
        <label for="Styles">Number of Styles</label>
        <p-inputNumber [(ngModel)]="NStyles" inputId="Styles">
        </p-inputNumber>
      </div>
    </div>

    <br>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-4">
        <button type="button" pButton icon="pi pi-check" class="ui-button-danger" (click)="SubmitOrder()"
          label="Pay & Submit"></button>
      </div>
    </div>

    <p-dialog header="Delete Confirmation" [(visible)]="deletedialog" [focusOnShow]="false" [responsive]="true"
      showEffect="fade" [modal]="true" [style]="{width: '500px'}">
      Are you sure you want to remove this image ?
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="pi pi-times" class="ui-button-danger" (click)="ConfirmDeleteImage()"
            label="Delete"></button>
          <button type="button" pButton (click)="CloseDeletImageDialog()" label="No"></button>
        </div>
      </p-footer>
    </p-dialog>
  </div>
  <div class="container p-0" *ngIf="payNow === true;">
    <div class="card px-4">
      <p class="h8 py-3">Payment Details</p>
      <div class="row gx-3">
        <div class="col-12">
          <div class="d-flex flex-column">
            <p class="text mb-1">Person Name</p> <input class="form-control mb-3" type="text" placeholder="Name"
              value="">
          </div>
        </div>
        <div class="col-12">
          <div class="d-flex flex-column">
            <p class="text mb-1">Card Number</p> <input class="form-control mb-3" type="text"
              placeholder="1234 5678 435678">
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex flex-column">
            <p class="text mb-1">Expiry</p> <input class="form-control mb-3" type="text" placeholder="MM/YYYY">
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex flex-column">
            <p class="text mb-1">CVV/CVC</p> <input class="form-control mb-3 pt-2 " type="password" placeholder="***">
          </div>
        </div>
        <div class="col-12">
          <div class="btn btn-primary mb-3"> <span class="ps-3">Pay $15</span> <span class="fas fa-arrow-right"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
